.cartItem {
  display: grid;
  grid-template-columns: 1fr min-content 100px;
  column-gap: 16px;
  border-bottom: 1px solid gray;
  padding: 16px 0;
  align-items: center;
  text-align: center;
}

.cartItem:last-child {
  border: none;
}

.cartItem h3 {
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.price {
  font-size: 0.9rem;
}

.image {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
}

.productImage {
  width: 96px;
  height: 96px;
  object-fit: scale-down;
}

.product {
  display: flex;
  align-items: center;
  gap: 16px;
}

.description {
  flex: 1;
}

.quantity {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.quantity label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.removeFromCart {
  display: flex;
  gap: 4px;
  color: red;
  background: none;
  border: none;
  align-items: center;
  font-weight: 700;
}

.removeFromCart img {
  width: 16px;
}

@media (max-width: 860px) {
  .cartItem {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px;
  }

  .product {
    grid-column: span 2;
  }
}
