.cart {
  display: flex;
  gap: 64px;
  justify-content: center;
}

.cart a {
  text-decoration: none;
  color: black;
}

.cart h2 {
  font-size: 1.6rem;
}

.items {
  flex: 0 1 1000px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 32px 64px;
  background-color: white;
}

.checkout {
  padding: 32px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: max-content;
  width: 300px;
  background-color: white;
}

.checkout button {
  display: block;
  width: 100%;
  margin: 16px 0;
  padding: 12px;
  font-size: 1.2rem;
  color: white;
  background-color: #393E46;
  border: none;
}

.orderTotal {
  display: flex;
  flex-direction: column;
}

.totalPrice {
  font-size: 2.5rem;
  text-align: end;
}

.emptyCart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 64px;
}

.emptyCart img {
  max-width: 250px;
}

.emptyCart h3 {
  font-size: 2rem;
  margin-bottom: 8px;
}
