.cart {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 16px 8px;
}

.cart a {
  text-decoration: none;
  color: black;
}

.cart h2 {
  font-size: 1.6rem;
}

.items {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 32px;
  background-color: white;
}

.checkout {
  padding: 32px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: max-content;
  flex: 0 0 280px;
  background-color: white;
}

.checkout button {
  display: block;
  width: 100%;
  border: none;
}

.goToCheckout {
  color: white;
  padding: 12px;
  background-color: #393E46;
  margin: 32px 0 16px;
  font-size: 1.2rem;
}

.continueShopping {
  color: #393E46;
  background-color: white;
  font-size: 1rem;
}

.orderTotal {
  display: flex;
  flex-direction: column;
}

.totalPrice {
  font-size: 2.5rem;
  text-align: end;
}

.emptyCart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 64px 0;
}

.emptyCart img {
  width: calc(50px + 24vw);
  max-width: 250px;
}

.emptyCart h3 {
  font-size: 2rem;
  margin-bottom: 8px;
}

@media (max-width: 700px) {
  .cart {
    flex-direction: column;
  }

  .checkout {
    flex: 0 0 max-content;
  }
}
