.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.githubLink {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
}

.githubLink img {
  width: 32px;
}
