.itemList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 8px;
}

.products {
  display: grid;
  gap: 12px;
  max-width: 800px;
  min-height: 650px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.navigation {
  display: flex;
  align-self: flex-end;
  gap: 8px;
}