@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato-Light.ttf);
}

:root {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F7F7;
}

main {
  flex: 1;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

button:active {
  position: relative;
  top: 1px;
  left: 1px;
}
